{% extends 'template.twig' %}

{% block title %}
    User List | Sky Betting &amp; Gaming Technical Test
{% endblock %}

{% block content %}
    
    <div ng-view></div>

{% endblock %}

{% block scripts %}
    <script>
        window.users = JSON.parse('{{ users|json_encode()|raw }}');
    </script>
{% endblock %}