<h2>All Users</h2>

<form class="col s12">
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>
                    <input type="text" ng-model="user.firstName" value="{{ user.firstName }}" />
                </td>
                <td>
                    <input type="text" ng-model="user.lastName" value="{{ user.lastName }}" />
                </td>
            </tr>
        </tbody>
    </table>
    <button ng-click="newUser()" class="btn waves-effect waves-light red darken-4" type="submit" name="action">New</button>
    <button ng-click="saveUsers()" class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Save</button>
</form>
