<!DOCTYPE html>
<html lang="en" ng-app="skyApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/lib/Materialize/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body ng-controller="UserListCtrl">
    <div class="container">
    	<h1>Sky Betting &amp; Gaming Technical Test</h1>

        {% block content %}
        {% endblock %}
    </div>
    <script src="/lib/jquery/js/jquery.js"></script>
    <script src="/lib/angular/js/angular.js"></script>
    <script src="/lib/angular-route/js/angular-route.js"></script>
    <script src="/js/app.js"></script>
	{% block scripts %}
	{% endblock %}
</body>
</html>